h1{
  margin-top: 50px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

nav{
  font-style: oblique;
  text-align: center;
  margin: auto;
  border: solid;
  /* width fixates the border */
  width: 120px;
  height: 20px;
  display: table;
}

body{
    background-image: linear-gradient(to bottom right,rgba(160, 44, 196, 0.897),rgba(32, 116, 146, 0.932),rgba(33, 171, 221, 0.699), rgba(59, 180, 134, 0.747));
    height: 100vh;  
}

.GameText{
  text-align:center;
  padding-top: 100px;
}

.test{
  color: yellow;
}