<div>
    <app-navbar [title]='title'></app-navbar>

    <div class='board'>
        <form class='login'>
            <h4>Login</h4>
            <input type='text' placeholder='Username'>
            <br>
            <input type='password' placeholder='Password'>
            <br>
            <input type='submit'>
        </form>

        <form class='register'>
            <h4>Register</h4>
            <input type='text' placeholder='Username'>
            <br>
            <input type='text' placeholder='Name'>
            <br>
            <input type='password' placeholder='Password'>
            <br>
            <input type='password' placeholder='Re-type Password'>
            <br>
            <input type='submit'>
        </form>
    </div>
</div>