<div>
    <app-navbar [title]='title'></app-navbar>

    <div class='board'>
        <form class='login' (ngSubmit)='checkLogin()'>
            <h4>Login</h4>
            <input type='text' placeholder='Username' required name='loginUsername' [(ngModel)]='loginUsername'>
            <br>
            <input type='password' placeholder='Password' required name='loginPassword' [(ngModel)]='loginPassword'>
            <br>
            <input type='submit'>
            <h6 *ngIf='checkLoginStatus==false'>Incorrect Credentials</h6>
            <h6 *ngIf='checkLoginStatus==true'>Successfully Logged In!</h6>
        </form>

        <form class='register' (ngSubmit)='createAccount()'>
            <h4>Register</h4>
            <input type='text' placeholder='Username' required name='username' [(ngModel)]='username'>
            <span *ngIf='check!==undefined'>{{ check.username }}</span>
            <br>
            <input type='text' placeholder='Name' required name='name' [(ngModel)]='name'>
            <br>
            <input type='password' placeholder='Password' required name='password' [(ngModel)]='password'>
            <span *ngIf='check!==undefined'>{{ check.password }}</span>
            <br>
            <input type='password' placeholder='Re-type Password' required name='reTypePassword' [(ngModel)]='reTypePassword'>
            <span *ngIf='check!==undefined'>{{ check.password }}</span>
            <br>
            <input type='submit'>

            <h6 *ngIf='check!==undefined'>{{ check.comma }}</h6>
            <h6 *ngIf='check!==undefined'>{{ check.success }}</h6>
        </form>
    </div>

    <p *ngIf='usename!==undefined'>Name: {{ usename.username }}</p>

</div>